.reveal-wrap {
  position: relative;
  display: inline-block;
}

.reveal-wrap .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d63447;
  z-index: 10;
  transform: scaleX(0);
}

.reveal-wrap.reveal .cover {
  animation: scale-up-down-hor-left-right 1.2s ease both;
}

.reveal-wrap.reveal .content {
  animation: show-up 0.6s step-end;
}

@keyframes show-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes scale-up-down-hor-left-right {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
  51% {
    transform: scaleX(1);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

.experience img {
  height: 6rem;
  border-radius: 50%;
  align-self: flex-start;
}

.project img {
  opacity: 0.5;
  transition: opacity 300ms ease;
}

.project img:hover {
  opacity: 1;
}

#contact-section input {
  height: 35px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  outline: none;
  border-bottom: 1px solid gray;
  color: white;
  transition: border 200ms ease;
}

#contact-section input:focus {
  border-bottom: 1px solid white;
}

textarea {
  border: 0;
  border-bottom: 1px solid gray;
  transition: border 200ms ease;
}

textarea:focus {
  outline: none;
  border-bottom: 1px solid white;
}

#message-btn {
  border-radius: 30px;
}

footer {
  position: sticky;
  height: 30vh;
  width: 100%;
}

#footer-overlay {
  width: 100%;
  height: 50vh;
}

